{% extends "base.html" %} {% block content %}
<div class="col-sm-8 offset-sm-2 p-3 border border-dark border-3 rounded-5">
  <form class="px-3" action="" method="post" onSubmit="exportimage(event)">
    <h3>Export Sketch Information</h3>
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Image title:</label>
      <div class="col-sm-10">
        <input
          class="form-control"
          id="title"
          name="title"
          placeholder="Title"
          required
        />
      </div>
      <label for="description" class="col-sm-2 col-form-label"
        >Description:</label
      >
      <div class="col-sm-10">
        <input
          class="form-control"
          id="description"
          name="description"
          placeholder="Description"
          required
        />
      </div>
    </div>
    <h3>Export Image</h3>
    <img
      class="border border-dark border-1 rounded-1"
      id="localimage"
      width="200"
    />
    <div class="row">
      <div class="justify-content-center my-3" style="display: flex">
        <button class="btn btn-primary">Export</button>
      </div>
    </div>
  </form>
</div>

<script>
  window.onload = showlocalimage;
  const username = "{{ username }}";
  function showlocalimage() {
    const dataURL = localStorage.getItem("savedImage");
    const img = document.getElementById("localimage");
    img.src = dataURL;
  }
  const exportimage = async (event) => {
    event.preventDefault();

    const dataURL=localStorage.getItem("savedImage")
    console.log(dataURL);
    const blob = await fetch(dataURL).then((res) =>
      res.blob()
    );
    console.log(blob);
    if (blob) {
      const formData = new FormData();
      formData.append("image", blob, "image.png");
      formData.append("creator",username);
      formData.append("title", document.getElementById("title").value);
      formData.append("description", document.getElementById("description").value);
      
      
      localStorage.removeItem("savedImage");
      try {
        const response = await fetch("http://localhost:5000/api/upload", {
          method: "POST",
          body: formData,
        });

        if (!response.ok) {
          throw new Error("File upload failed");
        }

        const result = await response.json();
        console.log("File uploaded successfully:", result);
        onUploadSuccess();
      } catch (error) {
        console.error("Error uploading file:", error);
      }
      window.location.href = "http://localhost:3000";
    }
  }
</script>
{% endblock %}
