{% extends "base.html" %}
{% block content %}
<div class="col-sm-8 offset-sm-2 p-3 border border-dark border-3 rounded-5"
    style="background-color: rgb(255, 239, 202);">
    <h1 class="fw-bold m-3">Sharing Sketch</h1>
    <div class="border border-warning rounded-3  m-3" style="background-color: rgb(255, 246, 226);">
        <h2 class="m-3">Login Form</h2>
        <form class="px-3 " action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
                <div class="col-sm-10">
                    {{ form.username(class="form-control",id="inputEmail3",placeholder="Username") }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
                <div class="col-sm-10">
                    {{ form.password(class="form-control",id="inputPassword3",placeholder="Password") }}
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">{{ form.roomname.label }}</label>
                <div class="col-sm-10">
                    {{ form.roomname(class="form-control",id="inputRoom3",placeholder="Roomname") }}
                </div>
            </div>
            <div class="row">
                <div class="justify-content-center my-3" style="display:flex">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
        <div class="justify-content-center" style="display:flex" ><a href="{{ url_for('register') }}">New User?</a></div>
    </div>
    <div class="border border-info rounded-3 m-3" style="background-color: rgb(255, 255, 255);">
        <h2 class="m-3">Introduction of Sketch Sharing</h2>
        <div class="p-3">
            <p class="fs-6 m-1"><b class="fs-5">Welcome to the demo of "Sketch Sharing"—a synchronization drawing
                    tool.</b> Utilizing Socket.IO, Flask models, and JavaScript, this website offers the following
                features:</p>
            <p class="fs-6 m-1"><b class="fs-5">Real-Time Collaboration</b>: Multiple users in the same room can draw on
                the canvas simultaneously, with changes instantly visible to everyone.</p>
            <p class="fs-6 m-1"><b class="fs-5">Basic Drawing Features</b>: Includes commonly used drawing functions
                such as panning, zooming, layer management, area selection adjustments, and supported pen pressure sensitivity. For a detailed explanation
                of these features, please refer to the diagram below. </p>
            <p class="fs-6 m-1"><b class="fs-5">Chat Room</b>: Allows you to communicate and share messages with other
                members within the same room. </p><br>
            <img src="{{url_for('static',filename='SharingSketch_intro2.png' )}}"
                class="img-fluid border border-dark rounded-3" alt="Responsive image">
        </div>
        <h2 class="m-3">How to use</h2>
        <div class="p-3">
            <p class="fs-6 m-1"><b class="fs-5">Register or Log In:</b></p>
            <p class="fs-6 m-1">To start, please register for an account by visiting the registration page. Note that email verification is not required at this time.</p>
            <p class="fs-6 m-1">Alternatively, you can use the default account credentials:(Username: 123/Password: 123)</p>
            <p class="fs-6 m-1"><b class="fs-5">Access the Main Page:</b></p>
            <p class="fs-6 m-1">Enter your account and join a room on the main page.</p>
            <img src="{{url_for('static',filename='SharingSketch_intro1.png' )}}"
                class="img-fluid border border-dark rounded-3" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}