{% extends "base.html" %} {% block content %}

<div
  class="col-sm-8 offset-sm-2 p-3 border border-dark border-3 rounded-5"
  style="background-color: rgb(255, 239, 202)"
>
  <div class="row">
    <div class="col">
      <h1 class="fw-bold m-3">Sharing Sketch</h1>
    </div>
    <div class="col-sm-3">
      <h1
        class="fw-bold m-3 text-center border border-dark border-3"
        style="
          background-color: rgb(255, 199, 199);
          border-top-right-radius: 15px;
        "
        onclick="window.location.href='/gallery';"
      >
        Sketch Gallery
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="35"
          height="35"
          fill="currentColor"
          class="bi bi-images"
          viewBox="0 0 16 16"
        >
          <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
          <path
            d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"
          />
        </svg>
      </h1>
    </div>
  </div>
  <div
    class="border border-warning rounded-3 m-3"
    style="background-color: rgb(255, 246, 226)"
  >
    <h2 class="m-3">Register Form</h2>
    <form class="px-3" action="" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label"
          >{{ form.username.label }}</label
        >
        <div class="col-sm-10">
          {{
          form.username(class="form-control",id="inputEmail3",placeholder="Username")
          }}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >{{ form.password.label }}</label
        >
        <div class="col-sm-10">
          {{
          form.password(class="form-control",id="inputPassword3",placeholder="Password")
          }}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >{{ form.email.label }}</label
        >
        <div class="col-sm-10">
          {{
          form.email(class="form-control",id="inputRoom3",placeholder="Email")
          }}
        </div>
      </div>
      <div class="row">
        <div class="justify-content-center my-3" style="display: flex">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
